USE [master]
GO
/****** Object:  Database [blog]    Script Date: 18/06/2019 05:19:27 ******/
CREATE DATABASE [blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blog]
GO
USE [blog]
GO
/****** Object:  Table [dbo].[bloguser]    Script Date: 18/06/2019 05:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bloguser](
	[IdB] [smallint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[pswrd] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 18/06/2019 05:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[IdC] [smallint] IDENTITY(1,1) NOT NULL,
	[names] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 18/06/2019 05:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[IdCom] [smallint] IDENTITY(1,1) NOT NULL,
	[nameCom] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[messageC] [text] NULL,
	[posteId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 18/06/2019 05:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](30) NULL,
	[lasttName] [varchar](30) NULL,
	[phone] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[city] [varchar](30) NULL,
	[message] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menuLink]    Script Date: 18/06/2019 05:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuLink](
	[IdM] [smallint] IDENTITY(1,1) NOT NULL,
	[nameM] [varchar](255) NULL,
	[linkOrder] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poste]    Script Date: 18/06/2019 05:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poste](
	[idp] [smallint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NULL,
	[content] [text] NULL,
	[image] [varchar](255) NULL,
	[datePublication] [datetime] NULL,
	[categoryId] [smallint] NULL,
	[userId] [smallint] NULL,
	[viewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([posteId])
REFERENCES [dbo].[poste] ([idp])
GO
ALTER TABLE [dbo].[poste]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[category] ([IdC])
GO
ALTER TABLE [dbo].[poste]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[bloguser] ([IdB])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD CHECK  (([city]='Oujda' OR [city]='Nador' OR [city]='Berkane'))
GO
USE [master]
GO
